* {
  padding: 0;
  margin: 0;
}

h1 {
  color: rgb(235, 235, 235);
}
p {
  color: rgb(235, 235, 235);
}
nav {
  position: relative;
  background: #424047;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  display: block;
  padding: 20px;
  font-family: sans-serif;
  font-size: 2em;
  text-decoration: none;
  color: rgb(235, 235, 235);
}

a:hover {
  background: #47b5da;
}

li div {
  display: none;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  background: #408bfa;
  
}

li:hover div {
  display: block;
}

li div ul {
  display: inline-block;
  vertical-align: top;
}

li div ul li {
  display: block;
}

li div ul li a {
  font-size: 1em;
  color: white;
}


body { background-color: #3E8989; }
.item-main {
  grid-area: main;
  padding: 20px;
  background-color:#79a1a8;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 

      "top top top top top top top top"
      "header header header header header header header header"
      "mainL main main main main main main mainR"
      "main1 main1 main1 main1 main1 main1 main1 main1"
      "footer footer footer footer footer footer footer footer";
      
  }
 
.item-header {
    grid-area: header;
    text-align: center;
    background-color: #56939e;
    font-size: 35px;
    margin-top: 5px;
}

.item-top {
    grid-area: top;
    
}
.item-iframe {
    grid-column: 1/9;
    grid-row: 3/4;
}
.item-mainR {
    grid-area: mainR;
    background-color:#79a1a8;
    padding: 20px;
    font-size: 20px;
    margin-top: 5px;
}
.item-mainL {
  grid-area: mainL;
  background-color:#79a1a8;
  padding: 20px;
  font-size: 11px;
  margin-top: 5px;
}
.item-footer {
  grid-area: footer;
  background-color:#027575;
  padding: 35px;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;

}
.item-main1 {
  grid-area: main1;
    background-color:#79a1a8;
    padding: 20px;
    font-size: 20px;
    margin-top: 5px;
}
@media only screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 

      "top top top top top top top top"
      "header header header header header header header header"
      "main main main main main main main main"
      "mainL mainL mainL mainL mainR mainR mainR mainR"
      "main1 main1 main1 main1 main1 main1 main1 main1"
      "footer footer footer footer footer footer footer footer";
      
  }
  .item-main {
    grid-area: main;
    padding: 20px;
    background-color:#79a1a8;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 20px;
  }
  .item-mainR {
    grid-area: mainR;
    background-color:#79a1a8;
    padding: 20px;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
}
}
@media only screen and (max-width: 400px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 

      "top top top top top top top top"
      "header header header header header header header header"
      "main main main main main main main main"
      "mainL mainL mainL mainL mainL mainL mainL mainL"
      "mainR mainR mainR mainR mainR mainR mainR mainR"
      "main1 main1 main1 main1 main1 main1 main1 main1"
      "footer footer footer footer footer footer footer footer";
      
  }
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 5px;
}

.button1 {background-color: #4CAF50;} /* Green */

img {
  width: 100%;
  height: auto;
}